.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.container {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
