/* title.tsx */
.title h2 {
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 112px; /* 88.889% */
  letter-spacing: -2.172px;
}

.title h4 {
  margin-top: 10px;
  color: #9e8c6c;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* about-me.tsx */
.about_me {
  margin-top: 48px;
}
.about_me h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
}

.about_me p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}

/* RIGHT */
.img_container {
  width: 112px;
  height: 112px;
  position: relative;
}

.img {
  border-radius: 72px;
  object-fit: cover;
}

@media screen and (max-width: 1440px) {
}
