:root {
  --bg: #111;
  --textColor: #3b3c4a;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --headingColor: #181a2a;
  --theme-toggle-bg: #e8e8ea;
  --logo-color: #111;
  /* mdx-variables */
  --blockquote-txt-color: #3c4556;
  --code-border-color: #21314c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark {
  --bg: #111;
  --textColor: #fff;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --headingColor: #fff;
  --theme-toggle-bg: #77c3ed;
  --bg-box: #fff;
  --bg-box-text: #111;
  --logo-color: #fff;
  --border-color: #1d283a;
  /* mdx-variables */
  --blockquote-txt-color: #435576;
  --code-border-color: #21314c;
}

.light {
  --bg: #e8e8ea;
  --textColor: 111;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --headingColor: #181a2a;
  --theme-toggle-bg: #eea518;
  --bg-box: #111;
  --bg-box-text: #fff;
  --logo-color: #111;
  --border-color: #111;
  /* mdx-variables */
  --blockquote-txt-color: #6c7582;
  --code-border-color: #bbc9d6;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    max-width: 1024px;
    padding-inline: 40px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 670px;
    padding-inline: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
