.container {
  background: var(--bg);
}

.wrapper {
  height: 84px;
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo_text {
  color: var(--logo-color);
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.routes {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger_icon {
  margin-top: 2px;
}

.links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    max-width: 1024px;
    padding-inline: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 670px;
    padding-inline: 20px;
  }
  .routes {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

/* Mobile */
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
