.mdx_pre {
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 24px;
  overflow-x: auto;
  border: 1px solid var(--code-border-color);
  padding: 16px 8px 16px 8px;
  background-color: #111;
}

.mdx_pre code {
  border: unset;
}
