.mdx_pre {
  margin-bottom: 16px;
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid var(--code-border-color);
  padding: 16px 8px 16px 8px;
  background-color: #111;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

.mdx_pre code {
  border: unset;
}
