.mdx_code {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.25rem;
  border: 1px solid var(--code-border-color);
}
